<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Developer</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div>
        <!-- /.content-header -->

        <div class="row justify-content-center">
            <div class="col-md-12">
                <passport-clients></passport-clients>
                <passport-authorized-clients></passport-authorized-clients>
                <passport-personal-access-tokens></passport-personal-access-tokens>
            </div>
        </div>
    </div>
    
</template>

<script>
    export default {
        mounted() {
            console.log('Component Developer mounted.')
        }
    }
</script>
