<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Menu</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div>
        <!-- /.content-header -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">Menu</h3>

                        <div class="card-tools">
                            <button class="btn btn-success" data-toggle="modal" data-target="#ModalMenu">
                                Add new menu 
                                <i class="fas fa-user-plus fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                           
                                <tr>
                                    <th width="150px">Label</th>
                                    <th>Url</th>
                                    <th width="200px">Modify</th>
                                </tr>
                               
                                <tr v-if="loading">
                                    <td colspan="4" style="align:center">Loading..</td>
                                </tr>
                                <tr v-else v-for="menu in menus" :key="menu.id">
                                    <td>{{menu.label}}</td>
                                    <td>{{menu.url}}</td>
                                    <td>
                                        <a href="#" @click="ModalEditMenu(menu)" class="text-muted">
                                            <i class="fa fa-user-edit orange"></i>
                                        </a>
                                        &nbsp;
                                        <a href="#" @click="deleteUser(menu.id)" class="text-muted">
                                            <i class="fa fa-trash red"></i>
                                        </a>
                                        &nbsp;
                                        <a href="#" @click="ModalChildMenu(menu)" class="text-muted">
                                            <i class="fa fa-eye warning"></i>
                                        </a>
                                    </td>

                                </tr>
                                
                        </table>
                    </div>
                   
                </div>
                <!-- /.card -->
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="ModalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                        <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Menu </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateMenu() : createMenu()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Label</label>
                                <input v-model="form.label" type="text" name="label"
                                    placeholder="Label"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('label') }">
                                <has-error :form="form" field="label"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="bio">Url</label>
                                <input v-model="form.url" name="url" id="url" placeholder="Url"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('url') }">
                                <has-error :form="form" field="url"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ModalChildMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addNewLabel">Add Menu Child</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addChildMenu()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Label</label>
                                <input v-model="form.label" type="text" name="label"
                                    placeholder="Label"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('label') }">
                                <has-error :form="form" field="label"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="bio">Url</label>
                                <input v-model="form.url" name="url" id="url" placeholder="Url"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('url') }">
                                <has-error :form="form" field="url"></has-error>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </form>
                    <div class="table-responsive p-5">
                        <h6 class="modal-title" id="addNewLabel">Detail Menu Child</h6>
                        <table class="table table-hover">
                            
                            <tbody v-if="menuschild.length > 0" >

                                <tr>
                                    <th width="130px">Label</th>
                                    <th>Url</th>
                                    <th width="80px">Modify</th>
                                </tr>
                                <tr v-for="menuchild in menuschild" :key="menuchild.id">
                                    <td>{{menuchild.label}}</td>
                                    <td>{{menuchild.url}}</td>
                                    <td>
                                        <a href="#" @click="deleteMenuChild(menuchild.id)" class="text-muted">
                                            <i class="fa fa-trash red"></i>
                                        </a>
                                        
                                    </td>

                                </tr>

                            </tbody>

                            <tbody v-else>
                                <tr>
                                    <td>No data ..</td>
                                </tr>
                            </tbody>
                                
                        </table>
                        
                    </div>

                </div>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                loading:true,
                editmode: false,
                menus : {},
                menuschild : {},
                form: new Form({
                    id:'',
                    label : '',
                    url: '',
                })
            }
        },
        methods: {
            loadMenu(){
                let url = 'api/menu';
                axios.get(url)
                .then(res => {
                    this.loading = false;
                    this.menus = res.data;                  
                    //console.log(this.menus)
                })
                .catch(err => {
                    console.log(err);
                });

            },
            createMenu(){
                // console.log(this.form)
                this.$Progress.start();
                this.form.post('api/menu')
                .then((res)=>{
                    console.log(res);
                    Fire.$emit('AfterCreate');
                    $('#ModalMenu').modal('hide');
                    
                    toast({
                        type: res.data.type,
                        title: res.data.title
                    })
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch((err)=>{
                    console.log(err)
                    
                    this.$Progress.fail();
                    this.form.reset();
                })
               
            },
            updateMenu(){
                console.log('update');
                this.$Progress.start();
                this.form.put('api/menu/'+this.form.id)
                .then((res) => {
                    // success
                    console.log(res.data);
                    $('#ModalMenu').modal('hide');
                     swal(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                })
                .catch((err) => {
                    console.log(err);
                    this.$Progress.fail();
                });

            },
            deleteUser(id){
                
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/menu/'+id).then(()=>{
                                        swal(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            addChildMenu(){
                console.log(this.form)
                this.$Progress.start();
                this.form.post('api/menu')
                .then((res)=>{
                    console.log(res);
                    Fire.$emit('AfterCreate');
                    $('#ModalChildMenu').modal('hide');
                    
                    toast({
                        type: res.data.type,
                        title: res.data.title
                    })
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch((err)=>{
                    console.log(err)
                    
                    this.$Progress.fail();
                    this.form.reset();
                })
            },
            ModalEditMenu(menu){
                //console.log(menu)
                this.editmode = true;
                this.form.reset();
                $('#ModalMenu').modal('show');
                this.form.fill(menu);
            },
            ModalChildMenu(menu){
                this.form.reset();
                $('#ModalChildMenu').modal('show');
                this.form.fill(menu);
                this.menuschild = menu.children;                  
                
            },
            deleteMenuChild(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/menu/'+id).then(()=>{
                                        swal(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                    this.form.reset();
                                    $('#ModalChildMenu').modal('hide');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                    this.form.reset();
                                    $('#ModalChildMenu').modal('hide');
                                });
                         }
                    })
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#ModalMenu').modal('show');
            },
        },
        created() {
            this.loadMenu();
            Fire.$on('AfterCreate',() => {
                this.loadMenu();
            });
        }

        
    }
</script>
