<template>
    <div class="card-footer clearfix">
        <a class="pagination-previous" @click.prevent="changePage(1)" :disabled="pagination.current_page <= 1" style="cursor:pointer; margin-right:2px">
            First page
        </a>
        <a class="pagination-previous" @click.prevent="changePage(pagination.current_page - 1)" :disabled="pagination.current_page <= 1" style="cursor:pointer; margin-right:2px">
            Previous
        </a>
        <a class="pagination-next" @click.prevent="changePage(pagination.current_page + 1)" :disabled="pagination.current_page >= pagination.last_page" style="cursor:pointer; margin-right:2px">
            Next page
        </a>
        <a class="pagination-next" @click.prevent="changePage(pagination.last_page)" :disabled="pagination.current_page >= pagination.last_page" style="cursor:pointer; margin-right:2px">
            Last page
        </a>

        <ul class="pagination">
            <li class="page-item" v-for="page in pages" :key="page.id">
                <a class="page-link" :class="isCurrentPage(page) ? 'is-current' : ''" @click.prevent="changePage(page)">{{ page }}</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    this.pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>