<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="row">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div><!-- /.row -->
        </div>
        <!-- /.content-header -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header no-border">
                        <h3 class="card-title">Users</h3>

                        <div class="card-tools">
                            <button class="btn btn-success" data-toggle="modal" data-target="#ModalUser">
                                Add new User 
                                <i class="fas fa-user-plus fa-fw"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                           
                                <tr>
                                    <th>Nama</th>
                                    <th>Email</th>
                                    <th>Register</th>
                                    <th>Modify</th>
                                </tr>
                               
                                <tr v-if="loading">
                                    <td colspan="4" style="align:center">Loading..</td>
                                </tr>
                                <tr v-else v-for="user in users" :key="user.id">
                                    
                                    <td>{{user.name}}</td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.created_at | myDate}}</td>
                                    <td>
                                        <a href="#" @click="ModalEditUser(user)" class="text-muted">
                                            <i class="fa fa-user-edit orange"></i>
                                        </a>
                                        <a href="#" @click="deleteUser(user.id)" class="text-muted">
                                            <i class="fa fa-trash red"></i>
                                        </a>
                                    </td>
                                </tr>
                                
                        </table>
                    </div>
                    
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">

                        
                        <!--
                        <ul class="pagination m-0 float-right">
                            <li class="paginate_button page-item previous">
                                <a class="page-link" v-on:click="fetchPagination(pagination.prev_page_url)" :disable="!pagination.prev_page_url">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item ">
                                <span class="page-link" style="cursor: default;">
                                    Page {{pagination.current_page}} of {{pagination.last_page}}
                                </span>
                            </li>
                            <li class="paginate_button page-item next">
                                <a class="page-link" v-on:click="fetchPagination(pagination.next_page_url)" :disable="!pagination.next_page_url">
                                    Next
                                </a>
                            </li>
                        </ul>
                        -->

                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showong {{pagination.from_page}} - {{pagination.to_page}} of {{pagination.total_page}} entries</div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                        <ul class="pagination m-0 float-right">
                                            <!--
                                            <li class="paginate_button page-item disable" v-bind:class={disable:!pagination.first_link}>
                                                <a class="page-link" @click="loadUsers(pagination.first_link)">&laquo;</a>
                                            </li>
                                            -->
                                            
                                            
                                            <li class="paginate_button page-item" v-bind:class={disabled:!pagination.prev_link}>
                                                <a class="page-link" @click="loadUsers(pagination.prev_link)">Previous</a>
                                            </li>
                                            

                                            <!-- 
                                                <li class="paginate_button page-item previous" v-for="n in pagination.last_page" v-bind:key="n" v-bind:class={active:!pagination.current_page == n}>
                                                    <a class="page-link" @click="loadUsers(pagination.path_page + n)">{{n}}</a>
                                                </li>
                                            -->
                                            <li class="paginate_button page-item" v-for="n in pagination.last_page" :key="n" :class="{ 'active': pagination.current_page === n }">
                                                <a class="page-link" @click="loadUsers(pagination.path_page + n)">{{n}}</a>
                                            </li>

                                            <li class="paginate_button page-item" v-bind:class={disabled:!pagination.next_link}>
                                                <a class="page-link" @click="loadUsers(pagination.next_link)">Next</a>
                                            </li>   
                                            <!--
                                            <li class="paginate_button page-item" v-bind:class={disable:!pagination.last_link}>
                                                <a class="page-link" @click="loadUsers(pagination.last_link)">&raquo;</a>
                                            </li>
                                            -->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="ModalUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                        <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update User's Info</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateUser() : createUser()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input v-model="form.name" type="text" name="name"
                                    placeholder="Name"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input v-model="form.email" type="email" name="email"
                                    placeholder="Email Address"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                                <has-error :form="form" field="email"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="bio">Bio</label>
                                <textarea v-model="form.bio" name="bio" id="bio"
                                placeholder="Short bio for user (Optional)"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                                <has-error :form="form" field="bio"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input v-model="form.password" type="password" name="password" id="password"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                                <has-error :form="form" field="password"></has-error>
                            </div>

                            <div class="form-group">
                                <label for="password_confirmation">Confirm Password</label>
                                <input v-model="form.password_confirmation" type="password" name="password_confirmation" id="password_confirmation"
                                class="form-control">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                        </div>

                    </form>

                </div>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        data() {
            return {
                loading:true,
                editmode: false,
                users : {},
                pagination: {},
                form: new Form({
                    id:'',
                    name : '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    bio: '',
                    photo: ''
                })
            }
        },
        methods: {
            loadUsers(url){
                url = url || 'api/user';
                //let $this = this
                axios.get(url)
                .then(res => {
                    //console.log(res.data.data)
                    this.users = res.data.data;
                    this.loading = false;
                    this.pagination = {
                        current_page: res.data.current_page,
                        last_page: res.data.last_page,
                        from_page: res.data.from,
                        to_page: res.data.to,
                        total_page: res.data.total,
                        path_page: res.data.path+"?page=",
                        first_link: res.data.first_page_url,
                        last_link: res.data.last_page_url,
                        prev_link: res.data.prev_page_url,
                        next_link: res.data.next_page_url,

                    }
                    
                })
                .catch(err => {
                    console.log(err);
                });

            },
            createUser(){
                console.log(this.form)
                this.$Progress.start();
                this.form.post('api/user')
                .then((res)=>{
                    //console.log(res.data);
                    Fire.$emit('AfterCreate');
                    $('#ModalUser').modal('hide');
                    
                    toast({
                        type: res.data.type,
                        title: res.data.title
                    })
                    this.$Progress.finish();
                    this.form.reset();
                })
                .catch((err)=>{
                    //console.log(err)
                    
                    this.$Progress.fail();
                    this.form.reset();
                })
               
            },
            updateUser(){
                console.log('update');
                this.$Progress.start();
                this.form.put('api/user/'+this.form.id)
                .then((res) => {
                    // success
                    console.log(res.data);
                    $('#ModalUser').modal('hide');
                     swal(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                })
                .catch((err) => {
                    console.log(err);
                    this.$Progress.fail();
                });

            },
            deleteUser(id){
                swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/user/'+id).then(()=>{
                                        swal(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            ModalEditUser(user){
                this.editmode = true;
                this.form.reset();
                $('#ModalUser').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#ModalUser').modal('show');
            },
        },
        created() {
            this.loadUsers();
            Fire.$on('AfterCreate',() => {
                this.loadUsers();
            });
        }

        
    }
</script>
